.tools {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#console .tools > div,
#console .tools .toolsList {
    display: flex;
    min-width: 0;
    align-items: center;
}

#console .tools .toolsList {
    width: 100%;
    flex-wrap: wrap;
}

#console .tools .options.icon_line {
    padding: 0;
}

#console .tools .seting {
    width: 30px;
    flex: 0 0 30px;
    align-self: flex-start;
}

#console .tools .options .split {
    margin-left: 5px;
}
